# server
SERVER_USER=YOUR_USERNAME_HERE
SERVER_HOST=YOUR_HOSTNAME_HERE
SERVER_PATH=YOUR_APP_PATH_HERE
REPO_URL=https://github.com/sukiboo/nootifications-bot.git
IMAGE_NAME=nootifications-bot

# telegram
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
TELEGRAM_USER_ID=YOUR_USER_ID_HERE

# kraken (optional, currently not used)
KRAKEN_API_KEY=YOUR_API_KEY_HERE
KRAKEN_API_SECRET=YOUR_API_SECRET_HERE

# alpaca (required for stocks)
ALPACA_API_KEY=YOUR_API_KEY_HERE
ALPACA_API_SECRET=YOUR_API_SECRET_HERE
